$scheme: (
  red: (
    50: (
      #ffebee,
      #000,
    ),
    100: (
      #ffcdd2,
      #000,
    ),
    200: (
      #ef9a9a,
      #000,
    ),
    300: (
      #e57373,
      #000,
    ),
    400: (
      #ef5350,
      #000,
    ),
    500: (
      #f44336,
      #000,
    ),
    600: (
      #e53935,
      #000,
    ),
    700: (
      #d32f2f,
      #fff,
    ),
    800: (
      #c62828,
      #fff,
    ),
    900: (
      #b71c1c,
      #fff,
    ),
    a100: (
      #ff8a80,
      #000,
    ),
    a200: (
      #ff5252,
      #000,
    ),
    a300: (
      #ff1744,
      #000,
    ),
    a700: (
      #d50000,
      #000,
    ),
  ),
  pink: (
    50: (
      #fce4ec,
      #000,
    ),
    100: (
      #f8bbd0,
      #000,
    ),
    200: (
      #f48fb1,
      #000,
    ),
    300: (
      #f06292,
      #000,
    ),
    400: (
      #ec407a,
      #000,
    ),
    500: (
      #e91e63,
      #000,
    ),
    600: (
      #d81b60,
      #fff,
    ),
    700: (
      #c2185b,
      #fff,
    ),
    800: (
      #ad1457,
      #fff,
    ),
    900: (
      #880e4f,
      #fff,
    ),
    a100: (
      #ff80ab,
      #000,
    ),
    a200: (
      #ff4081,
      #000,
    ),
    a400: (
      #f50057,
      #000,
    ),
    a700: (
      #c51162,
      #fff,
    ),
  ),
  purple: (
    50: (
      #f3e5f5,
      #000,
    ),
    100: (
      #e1bee7,
      #000,
    ),
    200: (
      #ce93d8,
      #000,
    ),
    300: (
      #ba68c8,
      #000,
    ),
    400: (
      #ab47bc,
      #fff,
    ),
    500: (
      #9c27b0,
      #fff,
    ),
    600: (
      #8e24aa,
      #fff,
    ),
    700: (
      #7b1fa2,
      #fff,
    ),
    800: (
      #6a1b9a,
      #fff,
    ),
    900: (
      #4a148c,
      #fff,
    ),
    a100: (
      #ea80fc,
      #000,
    ),
    a200: (
      #e040fb,
      #000,
    ),
    a400: (
      #d500f9,
      #000,
    ),
    a700: (
      #aa00ff,
      #fff,
    ),
  ),
  deep-purple: (
    50: (
      #ede7f6,
      #000,
    ),
    100: (
      #d1c4e9,
      #000,
    ),
    200: (
      #b39ddb,
      #000,
    ),
    300: (
      #9575cd,
      #000,
    ),
    400: (
      #7e57c2,
      #fff,
    ),
    500: (
      #673ab7,
      #fff,
    ),
    600: (
      #5e35b1,
      #fff,
    ),
    700: (
      #512da8,
      #fff,
    ),
    800: (
      #4527a0,
      #fff,
    ),
    900: (
      #311b92,
      #fff,
    ),
    a100: (
      #b388ff,
      #000,
    ),
    a200: (
      #7c4dff,
      #fff,
    ),
    a400: (
      #651fff,
      #fff,
    ),
    a700: (
      #6200ea,
      #fff,
    ),
  ),
  indigo: (
    50: (
      #e8eaf6,
      #000,
    ),
    100: (
      #c5cae9,
      #000,
    ),
    200: (
      #9fa8da,
      #000,
    ),
    300: (
      #7986cb,
      #000,
    ),
    400: (
      #5c6bc0,
      #fff,
    ),
    500: (
      #3f51b5,
      #fff,
    ),
    600: (
      #3949ab,
      #fff,
    ),
    700: (
      #303f9f,
      #fff,
    ),
    800: (
      #283593,
      #fff,
    ),
    900: (
      #1a237e,
      #fff,
    ),
    a100: (
      #8c9eff,
      #000,
    ),
    a200: (
      #536dfe,
      #000,
    ),
    a400: (
      #3d5afe,
      #fff,
    ),
    a700: (
      #304ffe,
      #fff,
    ),
  ),
  blue: (
    50: (
      #e3f2fd,
      #000,
    ),
    100: (
      #bbdefb,
      #000,
    ),
    200: (
      #90caf9,
      #000,
    ),
    300: (
      #64b5f6,
      #000,
    ),
    400: (
      #42a5f5,
      #000,
    ),
    500: (
      #2196f3,
      #000,
    ),
    600: (
      #1e88e5,
      #000,
    ),
    700: (
      #1976d2,
      #fff,
    ),
    800: (
      #1565c0,
      #fff,
    ),
    900: (
      #0d47a1,
      #fff,
    ),
    a100: (
      #82b1ff,
      #000,
    ),
    a200: (
      #448aff,
      #000,
    ),
    a400: (
      #2979ff,
      #000,
    ),
    a700: (
      #2962ff,
      #fff,
    ),
  ),
  light-blue: (
    50: (
      #e1f5fe,
      #000,
    ),
    100: (
      #b3e5fc,
      #000,
    ),
    200: (
      #81d4fa,
      #000,
    ),
    400: (
      #29b6f6,
      #000,
    ),
    500: (
      #03a9f4,
      #000,
    ),
    600: (
      #039be5,
      #000,
    ),
    700: (
      #0288d1,
      #000,
    ),
    800: (
      #0277bd,
      #fff,
    ),
    900: (
      #01579b,
      #fff,
    ),
    a100: (
      #80d8ff,
      #000,
    ),
    a200: (
      #40c4ff,
      #000,
    ),
    a400: (
      #00b0ff,
      #000,
    ),
    a700: (
      #0091ea,
      #000,
    ),
  ),
  cyan: (
    50: (
      #e0f7fa,
      #000,
    ),
    100: (
      #b2ebf2,
      #000,
    ),
    200: (
      #80deea,
      #000,
    ),
    300: (
      #4dd0e1,
      #000,
    ),
    400: (
      #26c6da,
      #000,
    ),
    500: (
      #00bcd4,
      #000,
    ),
    600: (
      #00acc1,
      #000,
    ),
    700: (
      #0097a7,
      #000,
    ),
    800: (
      #00838f,
      #000,
    ),
    900: (
      #006064,
      #fff,
    ),
    a100: (
      #84ffff,
      #000,
    ),
    a200: (
      #18ffff,
      #000,
    ),
    a400: (
      #00e5ff,
      #000,
    ),
    a700: (
      #00b8d4,
      #000,
    ),
  ),
  teal: (
    50: (
      #e0f2f1,
      #000,
    ),
    100: (
      #b2dfdb,
      #000,
    ),
    200: (
      #80cbc4,
      #000,
    ),
    300: (
      #4db6ac,
      #000,
    ),
    400: (
      #26a69a,
      #000,
    ),
    500: (
      #009688,
      #000,
    ),
    600: (
      #00897b,
      #000,
    ),
    700: (
      #00796b,
      #fff,
    ),
    800: (
      #00695c,
      #fff,
    ),
    900: (
      #004d40,
      #fff,
    ),
    a100: (
      #a7ffeb,
      #000,
    ),
    a200: (
      #64ffda,
      #000,
    ),
    a400: (
      #1de9b6,
      #000,
    ),
    a700: (
      #00bfa5,
      #000,
    ),
  ),
  green: (
    50: (
      #e8f5e9,
      #000,
    ),
    100: (
      #c8e6c9,
      #000,
    ),
    200: (
      #a5d6a7,
      #000,
    ),
    300: (
      #81c784,
      #000,
    ),
    400: (
      #66bb6a,
      #000,
    ),
    500: (
      #4caf50,
      #000,
    ),
    600: (
      #43a047,
      #000,
    ),
    700: (
      #388e3c,
      #000,
    ),
    800: (
      #2e7d32,
      #fff,
    ),
    900: (
      #1b5e20,
      #fff,
    ),
    a100: (
      #b9f6ca,
      #000,
    ),
    a200: (
      #69f0ae,
      #000,
    ),
    a400: (
      #00e676,
      #000,
    ),
    a700: (
      #00c853,
      #000,
    ),
  ),
  light-green: (
    50: (
      #f1f8e9,
      #000,
    ),
    100: (
      #dcedc8,
      #000,
    ),
    200: (
      #c5e1a5,
      #000,
    ),
    300: (
      #aed581,
      #000,
    ),
    400: (
      #9ccc65,
      #000,
    ),
    500: (
      #8bc34a,
      #000,
    ),
    600: (
      #7cb342,
      #000,
    ),
    700: (
      #689f38,
      #000,
    ),
    800: (
      #558b2f,
      #000,
    ),
    900: (
      #33691e,
      #fff,
    ),
    a100: (
      #ccff90,
      #000,
    ),
    a200: (
      #b2ff59,
      #000,
    ),
    a400: (
      #76ff03,
      #000,
    ),
    a700: (
      #64dd17,
      #000,
    ),
  ),
  lime: (
    50: (
      #f9fbe7,
      #000,
    ),
    100: (
      #f0f4c3,
      #000,
    ),
    200: (
      #e6ee9c,
      #000,
    ),
    300: (
      #dce775,
      #000,
    ),
    400: (
      #d4e157,
      #000,
    ),
    500: (
      #cddc39,
      #000,
    ),
    600: (
      #c0ca33,
      #000,
    ),
    700: (
      #afb42b,
      #000,
    ),
    800: (
      #9e9d24,
      #000,
    ),
    900: (
      #827717,
      #000,
    ),
    a100: (
      #f4ff81,
      #000,
    ),
    a200: (
      #eeff41,
      #000,
    ),
    a400: (
      #c6ff00,
      #000,
    ),
    a700: (
      #aeea00,
      #000,
    ),
  ),
  yellow: (
    50: (
      #fffde7,
      #000,
    ),
    100: (
      #fff9c4,
      #000,
    ),
    200: (
      #fff59d,
      #000,
    ),
    300: (
      #fff176,
      #000,
    ),
    400: (
      #ffee58,
      #000,
    ),
    500: (
      #ffeb3b,
      #000,
    ),
    600: (
      #fdd835,
      #000,
    ),
    700: (
      #fbc02d,
      #000,
    ),
    800: (
      #f9a825,
      #000,
    ),
    900: (
      #f57f17,
      #000,
    ),
    a100: (
      #ffff8d,
      #000,
    ),
    a200: (
      #ffff00,
      #000,
    ),
    a400: (
      #ffea00,
      #000,
    ),
    a700: (
      #ffd600,
      #000,
    ),
  ),
  amber: (
    50: (
      #fff8e1,
      #000,
    ),
    100: (
      #ffecb3,
      #000,
    ),
    200: (
      #ffe082,
      #000,
    ),
    300: (
      #ffd54f,
      #000,
    ),
    400: (
      #ffca28,
      #000,
    ),
    500: (
      #ffc107,
      #000,
    ),
    600: (
      #ffb300,
      #000,
    ),
    700: (
      #ffa000,
      #000,
    ),
    800: (
      #ff8f00,
      #000,
    ),
    900: (
      #ff6f00,
      #000,
    ),
    a100: (
      #ffe57f,
      #000,
    ),
    a200: (
      #ffd740,
      #000,
    ),
    a400: (
      #ffc400,
      #000,
    ),
    a700: (
      #ffab00,
      #000,
    ),
  ),
  orange: (
    50: (
      #fff3e0,
      #000,
    ),
    100: (
      #ffe0b2,
      #000,
    ),
    200: (
      #ffcc80,
      #000,
    ),
    300: (
      #ffb74d,
      #000,
    ),
    400: (
      #ffa726,
      #000,
    ),
    500: (
      #ff9800,
      #000,
    ),
    600: (
      #fb8c00,
      #000,
    ),
    700: (
      #f57c00,
      #000,
    ),
    800: (
      #ef6c00,
      #000,
    ),
    900: (
      #e65100,
      #000,
    ),
    a100: (
      #ffd180,
      #000,
    ),
    a200: (
      #ffab40,
      #000,
    ),
    a400: (
      #ff9100,
      #000,
    ),
    a700: (
      #ff6d00,
      #000,
    ),
  ),
  deep-orange: (
    50: (
      #fbe9e7,
      #000,
    ),
    100: (
      #ffccbc,
      #000,
    ),
    200: (
      #ffab91,
      #000,
    ),
    300: (
      #ff8a65,
      #000,
    ),
    400: (
      #ff7043,
      #000,
    ),
    500: (
      #ff5722,
      #000,
    ),
    600: (
      #f4511e,
      #000,
    ),
    700: (
      #e64a19,
      #000,
    ),
    800: (
      #d84315,
      #000,
    ),
    900: (
      #bf360c,
      #fff,
    ),
    a100: (
      #ff9e80,
      #000,
    ),
    a200: (
      #ff6e40,
      #000,
    ),
    a400: (
      #ff3d00,
      #000,
    ),
    a700: (
      #dd2c00,
      #fff,
    ),
  ),
  brown: (
    50: (
      #efebe9,
      #000,
    ),
    100: (
      #d7ccc8,
      #000,
    ),
    200: (
      #bcaaa4,
      #000,
    ),
    300: (
      #a1887f,
      #000,
    ),
    400: (
      #8d6e63,
      #fff,
    ),
    500: (
      #795548,
      #fff,
    ),
    600: (
      #6d4c41,
      #fff,
    ),
    700: (
      #5d4037,
      #fff,
    ),
    800: (
      #4e342e,
      #fff,
    ),
    900: (
      #3e2723,
      #fff,
    ),
  ),
  gray: (
    50: (
      #fafafa,
      #000,
    ),
    100: (
      #f5f5f5,
      #000,
    ),
    200: (
      #eeeeee,
      #000,
    ),
    300: (
      #e0e0e0,
      #000,
    ),
    400: (
      #bdbdbd,
      #000,
    ),
    500: (
      #9e9e9e,
      #000,
    ),
    600: (
      #757575,
      #fff,
    ),
    700: (
      #616161,
      #fff,
    ),
    800: (
      #424242,
      #fff,
    ),
    900: (
      #212121,
      #fff,
    ),
  ),
  blue-gray: (
    50: (
      #eceff1,
      #000,
    ),
    100: (
      #cfd8dc,
      #000,
    ),
    200: (
      #b0bec5,
      #000,
    ),
    300: (
      #90a4ae,
      #000,
    ),
    400: (
      #78909c,
      #000,
    ),
    500: (
      #607d8b,
      #000,
    ),
    600: (
      #546e7a,
      #fff,
    ),
    700: (
      #455a64,
      #fff,
    ),
    800: (
      #37474f,
      #fff,
    ),
    900: (
      #263238,
      #fff,
    ),
  ),
);
