.Card {
  flex-direction: column;
  padding: 1rem;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 4px 12px;
  background-color: #ffffff;
  border-radius: 4px;
  @include noselect-effect;

  @include dark-mode {
    background-color: lighten(#121212, 7%);
  }

  &-image {
    display: flex;
    background-color: white;
    padding: 0.5rem;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    img {
      min-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &-tag {
    @extend .tp-overline;
    &-cs{
      color: dodgerblue;
    }
    &-new{
      color: orange;
    }
    &-trend{
      color: blueviolet;
    }
    &-editor{
      color: fuchsia;
    }
    &-bs{
      color: goldenrod;
    }
    &-out{
      color: red;
    }
    &-campaign{
      color: crimson;
    }
    &-off{
      color: teal;
    }
  }

  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-price {
    display: inline-block;
    font-weight: $bold;
    vertical-align: center;
  }

  &-oldPrice {
    display: inline-block;
    text-decoration: line-through;
    opacity: 0.6;
    vertical-align: center;
    margin: 0 0 0 5px;
  }

  &-favbtn {
    display: inline-block;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    background-color: transparent;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 200px;
    bottom: 150px;
    @include noselect-effect;
    &-checked {
      animation: heart-burst 0.8s steps(28) forwards;
      @keyframes heart-burst {
        0% {
          background-position: left;
        }
        100% {
          background-position: right;
        }
      }
    }
  }
}
