.Form {
  display: flex;
  flex-flow: column;
  gap: 8px;
  padding: 0 7px;
}

.Form-content {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.Form-footer {
  padding: 8px 0;
}

.Form-footer-controls {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="url"],
input[type="email"],
input[type="phone"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="month"],
input[type="year"],
select {
  display: block;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 12px 10px;
  background-color: hsl(220, 12%, 95%);
  &:focus{
    background-color: hsl(0, 0%, 99%);
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
}
