.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 4em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.navbar-logo {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0.5em 0;
  img {
    min-width: 8em;
  }
}

.navbar-search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  input {
    width: 95%;
  }
}

#open-button {
  display: none;
}

#close-button {
  display: none;
}

.navbar-controls {
  display: flex;
}

.navbar-button {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: max-content;
  font-size: 14px;
  @include noselect-effect;
  i{
    font-size: 24px;
  }
  label {
    label {
      display: block;
      color: gray;
    }
  }
  &:hover {
    background-color: whitesmoke;
  }
}

@include only-mobile {
  .navbar-search {
    display: none;
  }

  .navbar-button label {
    display: none;
  }

  #open-button {
    display: flex;
  }

  .navbar--search-mode {
    .navbar-logo,
    .navbar-button {
      display: none;
    }

    #open-button {
      display: none;
    }

    #close-button {
      display: flex;
    }

    .navbar-search {
      display: flex;
      order: 1;
    }
  }
}
