.Showcase {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &-content {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    padding: 1em;
    width: auto;
  }
}
