// Styles Imports
@import "./_scheme";
@import "./_typography";
@import "./_mixins";

// -- Components Styles--
@import "./Navbar";
@import "./Card";
@import "./Showcase";
@import "./Sidebar";
@import "./FeaturesTable";
@import "./Form";
@import "./Selector";

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@include dark-mode{
  body{
    background-color: #121212;
    color: white;
  }
  img{
    filter: brightness(0.8) contrast(1.2);
  }
}

.highlight {
  background-color: dodgerblue;
  color: white;
}
