// Styles Imports
@import "./_mixins";
@import "./_typography";
@import "./_scheme";

// -- Components Styles--
@import "./Navbar";
@import "./Card";
@import "./Showcase";
@import "./Sidebar";
@import "./FeaturesTable";
@import "./Form";
@import "./Selector";

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.highlight {
  background-color: dodgerblue;
  color: white;
}
